body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(image11.jpg);
    background-size: cover;
    background-position: center;
}
h1{
    color: #fff; 
}
.login-box1{
    max-width: 700px;
    float:none;
    margin: 150px auto;
}
.login-left1{
    background: rgba(211,211,211,0.5);
    padding:30px;
}
.login-right1{
    background: #fff;
    padding:30px;
}
.form-control{
    background-color: transparent;
}
